*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #1e269c;
    background-color: rgb(51, 73, 122);
}
    header{
        background: linear-gradient(135deg,#dbdffa 0%,rgb(106, 126, 168) 100%);
        color: #1e269c;
        text-align: center;
        padding: 4rem 1rem;
}
header h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}
header p{
    font-size: 1.3rem;
    opacity: 2rem;
}
.container{
    max-width: 800px;
    margin: 2.5rem auto;
    padding: 0 1.5rem;
    }
section{
    background-color: rgb(106, 126, 168);
    border-radius: 12px;
    padding: 2.2rem;
    margin-bottom: 2.5rem;
    }

    section.hover{
        transform: translateY(-6px);
        box-shadow: 0 12px 28px rgba(0,0,0,12);
     }
     ul{
        list-style: none;
        display: flex;
        margin-top: 1.5rem;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: center;
      }
      ul li{
        background-color: #1e269c;
        padding: 1rem 1.8rem;
        border-radius: 10px;
        font-size: 1.5rem;
        font-weight: 600;
        transition: all 0.3s case;
        border: 1px solid rgb(101,239,191);
      }

      ul a{
        text-decoration: none;
        color: #f5f5f7;
        display: block;
         }
      ul li:hover{
        background: #471306;
        color: white;
         }
      section p{
        font-size: 1.5rem ;
        color: #fdfcfd;
         }
         footer{
            text-align: center;
            padding: 2rem;
            margin-top: 3rem;
            background-color: #3449a7;
            color: #f1f5f9;
        }
        footer p{
            font-family: "PT Serif", serif;
            font-weight: 400;
            font-style: normal;
        }
        a{
            text-decoration: none;
            color: rgb(51, 73, 122);
        }